<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianping.mapper.OrderCustomMapper">
    <!--查询订单（主）和对应购买用户的信息，resultType方式进行一对一关联查询 -->
    <select id="findOrderCustom" resultType="orderscustom">
                SELECT orders.*,username,sex,address FROM orders,USER WHERE orders.user_id=user.id;
        </select>

    <!--定义resultMap -->
    <resultMap id="orderCustomResultMap" type="orders">
        <!--注意主表对象和关联的对象的id即主键都必须写上，即使关联对象没有查询主键信息 -->
        <id column="id" property="id"></id>
        <result column="user_id" property="userId"></result>
        <result column="number" property="number"></result>
        <result column="createtime" property="createtime"></result>
        <result column="note" property="note"></result>
        <!--一对一对关联对象进行映射resultMap设置时候，需要用到这个标签
             property对应的是orders类中的关联引用-->
        <association property="user" javaType="com.dianping.po.User">
            <!-- 注意，即使不查询ＩＤ也是必须写-->
            <id column="id" property="id"></id>
            <result column="username" property="username"></result>
            <result column="sex" property="sex"></result>
            <result column="address" property="address"></result>
        </association>
    </resultMap>
    <!--使用resultmap的方式进行一对一关联查询，其实这个也是一种形式的pojo,类似resultType -->
    <select id="findOrderCustomResultMap" resultMap="orderCustomResultMap">
                SELECT orders.*,username,sex,address FROM orders,USER WHERE orders.user_id=user.id;
        </select>


    <!--查询订单（主）及订单明细信息，定义resultMap
    resultMap之间可以继承，减少代码冗余-->
    <resultMap id="OrderAndOrderDetailResultMap" type="orders" extends="orderCustomResultMap">
        <!--继承后包含order表中信息 -->
        <!--继承后包含user表中信息 -->
        <!--配置一对多的List<orderdetail>信息
        注意：在单对单时候使用association,单对多时候，使用collection进行对Java集合进行配置
        ofType是表示集合中Java类的映射-->
        <collection property="orderDetails" ofType="orderdetail">
            <id column="orderdetail_id" property="id"></id>
            <result column="orders_id" property="ordersId"></result>
            <result column="items_id" property="itemId"></result>
            <result column="items_num" property="itemsNum"></result>
        </collection>

    </resultMap>
    <!--使用resultmap的方式进行一对一关联查询，其实这个也是一种形式的pojo,类似resultType -->
    <select id="findOrderAndOrderDetail" resultMap="OrderAndOrderDetailResultMap">
        SELECT orders.*,username,sex,address,orderdetail.id orderdetail_id,orderdetail.orders_id,
        orderdetail.items_id,orderdetail.items_num
        FROM orders,USER,orderdetail
        WHERE orders.user_id=user.id AND orders.id=orderdetail.orders_id;
    </select>

    <!--查询查询用户和用户所购买的商品信息，使用resultmap的方式进行多对多关联-->
    <resultMap id="UserAndItemsResultMap" type="com.dianping.po.User">
        <!-- 用户信息 -->
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="birthday" property="birthday"/>
        <result column="sex" property="sex"/>
        <result column="address" property="address"/>
        <!-- 订单信息 -->
        <collection property="orders" ofType="com.dianping.po.Orders">
            <id column="orders_id" property="id"/>
            <result column="user_id" property="userId"/>
            <result column="number" property="number"/>
            <result column="createtime" property="createtime"/>
            <!--订单明细信息 -->
            <collection property="orderDetails" ofType="com.dianping.po.OrderDetail">
                <id column="detail_id" property="id"/>
                <result column="orders_id" property="ordersId"/>
                <result column="items_id" property="itemId"/>
                <result column="items_num" property="itemsNum"/>
                <!--商品信息 -->
                <association property="item" javaType="com.dianping.po.Item">
                    <id column="items_id" property="id"/>
                    <result column="name" property="name"/>
                    <result column="price" property="price"/>
                    <result column="detail" property="detail"/>
                    <result column="createtime" property="createtime"/>
                </association>
            </collection>

        </collection>


    </resultMap>
    <!--查询查询用户和用户所购买的商品信息，使用resultmap的方式进行多对多关联 -->
    <select id="findUserAndItems" resultMap="UserAndItemsResultMap">
         SELECT
          user.*,
          orders.id orders_id,
          orders.user_id,
          orders.number,
          orders.createtime,
          orderdetail.id detail_id,
          orderdetail.orders_id,
          orderdetail.items_id,
          orderdetail.items_num,
          items.id items_id,
          items.name,
          items.price,
          items.detail,
          items.createtime
         FROM
          USER,orders,orderdetail,items
         WHERE
          user.id=orders.user_id AND orders.id=orderdetail.orders_id AND orderdetail.items_id=items.id;
    </select>


    <resultMap id="findOrderUserLazyLoadResultMap" type="orders">
        <!--配置对应的订单的所有属性 -->
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="number" property="number"/>
        <result column="createtime" property="createtime"/>
        <!--配置延迟加载的用户属性，使用association
             select:表示延迟加载时再次进行查询的statement ID
             column:表示订单表和用户表关联的字段（订单表中的），同时也作为再次查询用户表时用户ID的输入
             注意select中id跨xml文件需要加上namespace-->
        <association property="user" javaType="com.dianping.po.User" select="com.dianping.mapper.UserMapper.findUserById"
                     column="user_id">

        </association>
    </resultMap>
    <select id="findOrderUserLazyLoad" resultMap="findOrderUserLazyLoadResultMap">
        select * from orders;
    </select>
</mapper>



