<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd ">

    <!--Handler处理器的配置 要求实现Controller接口
    使用beanname方式进行映射时候，不需要写id-->
    <!--<bean id="itemsController1" name="/queryItems_test.action" class="com.dianping.controller.ItemsController1" />-->

    <!--另一个实现HttpRequestHander接口的处理器 -->
    <!--<bean id="itemsController2" class="com.dianping.controller.ItemsController2"/>-->
    <!-- 配置处理器映射器，
    将bean的name作为url进行查找，需要在配置Handler时候，指定beanname(就是url)-->
    <!--<bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>-->
    <!--简单url映射-->
    <!--<bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">-->
        <!--<property name="mappings">-->
            <!--<props>-->
                <!--&lt;!&ndash;key就是url,value就是处理器的ID,可以多个url对应同一个handler &ndash;&gt;-->
                <!--<prop key="/queryItems1.action">itemsController1</prop>-->
                <!--<prop key="/queryItems2.action">itemsController1</prop>-->
                <!--<prop key="/queryItems3.action">itemsController2</prop>-->
            <!--</props>-->
        <!--</property>-->
    <!--</bean>-->
    <!--配置非注解处理器适配器，要求Handler实现Controller接口-->
    <!--<bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>-->
    <!--另一个非注解处理器适配器，要求编写的Handler实现HHttpRequestHandler接口
    注意两种适配器都可以使用，实现要求编写的Handler实现HHttpRequestHandler接口
    的Handler相当于另外一种struts2的action-->
    <!--<bean class="org.springframework.web.servlet.mvc.HttpRequestHandlerAdapter"/>-->

    <!--注解处理器映射器 -->
    <!--<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>-->
    <!--注解处理器适配器 -->
    <!--<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"/>-->
    <!--springmvc还提供了非常方面的功能，即使用mvc:annotation-driven就可以代替上面2个注解类
     同时mvc:annotation-driven还默认加载了很多参数绑定方法，比如json转换解析器就默认加载了
     故使用mvc:annotation-driven的话就不需要配置上面两个，实际开发也用这个-->

    <mvc:annotation-driven conversion-service="conversionService"
            validator="validator"/>
    <!--context:component-scan可以扫描controller service repository注解的类，直接在spring容器中进行注册-->
    <context:component-scan base-package="com.dianping.controller" />

    <!--配置视图解析器，默认使用jstl进行配置 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--配置具体JSP路径的前缀和后缀，方面在serViewName时候简写-->
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!-- 这个是springmvc对multipart类型数据的解析器
    spring mvc如果要接收 multipart/form-data 传输的post方式提交的数据，应该在spring上下文配置，否则服务端接收不到参数，
    即如果表单为multipart类型，必须配置解析器-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize">
            <value>5242880</value>
        </property>
    </bean>
    <!-- 自定义url->对象，转换器
    需要把在input中的一定格式的时间字符串，转换成数据库中，Java Date对象
    如果不转换时间的话，springmvc运行时候会报错，报错string到date无法转换错误-->
    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <list>
                <bean class="com.dianping.controller.convert.CusomDateConverter"/>
            </list>
        </property>
    </bean>
    <!-- 设置校验器-->
    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <!-- 指定校验器提供商-->
        <property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>
        <!-- 指定校验使用的错误配置，如果不指定，则使用默认的classpath下的ValidationMessages.properties-->
        <property name="validationMessageSource" ref="messageSource"/>
    </bean>
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <!-- 指定的资源文件名，因为是basename，所以省略.properties后缀-->
        <property name="basenames">
            <list>
                <value>classpath:CustomValidationMessages</value>
            </list>
        </property>
        <!-- 资源文件编码格式-->
        <property name="fileEncodings" value="utf-8"/>
        <!-- 对资源文件的内容的缓存时间，单位秒-->
        <property name="cacheSeconds" value="120"/>

    </bean>
    <!-- 在springMVC中配置注册全局的异常处理器，注意这里即使写2个，也只会用第一个-->
    <bean class="com.dianping.exception.CustomExceptionResolver"/>
</beans>